//<МИКСИНЫ>==========================================================================
@mixin anim($time,$delay) {-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin cnt($h) {display: flex;flex-direction: column; height: $h; text-align: center; align-items: stretch; justify-content: center;}
@mixin tr($x,$y,$z) {transform: translate3d($x,$y,$z);}
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexboxinline() {display:-moz-inline-flex; display:-ms-inline-flex;  display:-o-inline-flex; display:-inline-flex;display: -webkit-inline-flex;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val; -moz-box-ordinal-group: $val; -ms-flex-order: $val; -webkit-order: $val; order: $val;}
//</МИКСИНЫ>==========================================================================

//<ШРИФТЫ>==========================================================================

@import url("../../fonts/Gilroy/stylesheet.css");

//<Подключаемые шрифты>==========================================================================

//</Подключаемые шрифты>==========================================================================


//<Шрифт по умолчанию>==========================================================================
$fontfamily:"Gilroy";
$fontcolor:#fff;
$accentColor: #38ACFF;
$backgroundColor: #333;
$sidebarColor:#74c5ffaf;
$coolColor: #95d3a9;
//</Шрифт по умолчанию>==========================================================================

//</ШРИФТЫ>==========================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================
$minwidth:320px;
$mw:1420;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>==========================================================================


*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}

*{box-sizing: border-box;}



html{
    background-color: #333;
    // -ms-overflow-style: none;  /* IE 10+ */
    // scrollbar-width: none; /* Firefox */
    max-height: 100vh;
}
body{margin: 0;padding: 0;font-family: $fontfamily;font-size: 16; color: $fontcolor;}

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================

.wrapper {
    min-height: 100vh;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------- */

.container {
    width: 100%;
    height: 100vh;
    max-height:100vh;
    display: grid;
    grid-template: minmax(auto, 50px) minmax(600px, 100vh) minmax(auto, 20px)/ minmax(768px, 1fr) ;
    grid-template-areas: "header" "main" "fotter";
    
}

/* ------------------------------------------- */

.header {
    grid-area: header;
    background-color: #333;
    display: grid;
    grid-template: 50px /  minmax(auto, 200px) 1fr minmax(auto, 300px);

		// .header__logo

		&__logo {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            
            & a{
                font-size: 32px;
                line-height: 5px;
                color: #fff;
                height: 100%;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            
		}

        // .header__status

        &__status {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;

        }

        // .header__login

        &__login {
            display: flex;
            align-items: center;
            justify-content: center;
        }
}

.login {

    &__btn{
        
    }
}

/* ------------------------------------------- */

.main {
    grid-area: main;
    display: grid;
    grid-template: 1fr / minmax(auto, auto) 5px 1fr;

}
.sidebar {
    grid-area: 'sidebar';
    min-width: 0px;
    width: 100px;
    max-width: 500px;
    overflow: hidden;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    user-select: none;

    &-swiper{
        width: 100%;
        height: 100%;
        background-color: $sidebarColor;

        & .swiper-slide{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 20px;
            text-transform: uppercase;
            text-overflow: clip;
            & a{
                color: #fff;
            }
        }
    }

        
}

.resize{
    width: 5px;
    background-color: #333;
    height: 100%;

    cursor: col-resize;
}

.content {
    user-select: none;
    background-color: #555;
    border-radius: 5px;
    grid-area: 'content';
    max-height: 100%;
    overflow: hidden;
    


    &__timetable-swiper{
        padding: 20px;
    }
}
.timetable-swiper{
        height: 100%;
        width: 100%;
        // .timetable__item

        & .swiper-slide {
            //background-color: #95d3d050;
            background-color:#333;
            padding: 20px;
            border-radius: 10px;
            border: 3px #7D7D7D solid;

            // .timetable__title
    
            &__title {
                font-size: 26px;
                padding-bottom: 10px;
            }
    
            // .timetable__text
    
            &__text {
                font-size: 18px;
            }
        }


       
}

.swiper-scrollbar{

    &-drag{
        background-color: $backgroundColor;
    }
}

/* ------------------------------------------- */

.fotter {
    grid-area: fotter;
    background-color: #333;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #555;

		// .fotter__copy

		&__copy {
            // color: red;
		}

		// .fotter__text

		&__text {
		}
}

@import 'forms.scss';
