@charset "UTF-8";
.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  padding: 5px 15px;
  border: 2px solid #fff;
  background-color: #333;
  font-size: 20px;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn_w {
  color: #333;
  background-color: #fff;
}
.btn_w:hover {
  background-color: #333;
  color: #fff;
}
.btn:focus {
  border-color: #ffffff;
  color: #ffffff;
}
.btn:active {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}
.btn:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border-color: #333;
  background-color: #fff;
  color: #333;
}

.custom_checkbox {
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.custom_checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom_checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid black;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom_checkbox > input:checked + span::before {
  background-color: black;
  border-color: black;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom_checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #000;
  border-color: black;
}
.custom_checkbox > input:not(:disabled) + span:active::before {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.custom_checkbox > input + span:hover::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 156, 156, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(156, 156, 156, 0.25);
}
.custom_checkbox > input:focus:not(:checked) + span::before {
  border-color: #5c5c5c;
}
.custom_checkbox > input:disabled + span::before {
  background-color: #e7e7e7;
}

.msg-box {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}
.msg-box::-webkit-input-placeholder {
  color: #000;
}
.msg-box:-moz-placeholder {
  color: #000;
}