@charset "UTF-8";
@import url("../../../fonts/Gilroy/stylesheet.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

html {
  background-color: #333;
  max-height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  font-size: 16;
  color: #fff;
}

.swiper-scrollbar-drag {
  background-color: #333;
}

.wrapper {
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* ------------------------------------------- */
.container {
  min-height: 100vh;
  height: 100vh;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(320px, 1fr);
      grid-template: minmax(auto, 50px) minmax(300px, 100vh) minmax(50px, 50px)/minmax(320px, 1fr);
      grid-template-areas: "header" "main" "navbar";
}

@media (min-width: 767.98px) {
  .container {
    -ms-grid-columns: minmax(768px, 1fr);
        grid-template: minmax(auto, 50px) minmax(600px, 100vh) minmax(auto, 20px)/minmax(768px, 1fr);
        grid-template-areas: "header" "main" "fotter";
  }
}
/* ------------------------------------------- */
.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  background-color: #333;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 50px;
  -ms-grid-columns: minmax(auto, 100px) 1fr minmax(auto, 80px);
      grid-template: 50px/minmax(auto, 100px) 1fr minmax(auto, 80px);
}
.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding: 10px;
}
.header__logo a {
  font-size: 32px;
  line-height: 5px;
  color: #fff;
  height: 100%;
}
.header__logo a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 20px;
}
.header__login {
  display: none;
}

@media screen and (min-width: 767.98px) {
  .header {
    -ms-grid-rows: 50px;
    -ms-grid-columns: minmax(auto, 200px) 1fr minmax(auto, 300px);
        grid-template: 50px/minmax(auto, 200px) 1fr minmax(auto, 300px);
  }
  .header__settings {
    display: none;
    width: 0;
    height: 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    z-index: -1;
  }
  .header__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
  }
  .header__logo a {
    font-size: 32px;
    line-height: 5px;
    color: #fff;
    height: 100%;
  }
  .header__logo a picture {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
  }
  .header__logo a picture img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: 700;
    font-size: 20px;
  }
  .header__login {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    z-index: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-right: 5px;
  }
}
@media screen and (min-width: 992.98px) {
  .header__logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__login {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/* ------------------------------------------- */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: minmax(auto, auto) 5px 1fr 5px;
      grid-template: 1fr/minmax(auto, auto) 5px 1fr 5px;
}
.main .sidebar {
  max-width: 500px;
  min-width: 0px;
  width: 100px;
  overflow: hidden;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.main .sidebar-swiper {
  width: 100%;
  height: 100%;
  background-color: #74c5ffaf;
}
.main .sidebar-swiper .swiper-slide {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  text-overflow: clip;
}
.main .sidebar-swiper .swiper-slide a {
  color: #fff;
}
.main .sidebar {
  grid-area: "sidebar";
  width: 0px;
}
.main .resizebar {
  height: 100%;
  width: 5px;
  background-color: #333;
  cursor: col-resize;
}
.main .content {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #555;
  border-radius: 5px;
  grid-area: "content";
  max-height: 100%;
  overflow: hidden;
}
.main .content__timetable-swiper {
  padding: 20px;
}
.main .timetable-swiper {
  height: 100%;
  width: 100%;
}
.main .timetable-swiper .swiper-slide {
  padding: 20px;
  background-color: #333;
  border-radius: 10px;
  border: 3px #7D7D7D solid;
}
.main .timetable-swiper .swiper-slide__title {
  padding-bottom: 10px;
  font-size: 26px;
}
.main .timetable-swiper .swiper-slide__text {
  font-size: 18px;
}
@media screen and (min-width: 767.98px) {
  .main .sidebar {
    grid-area: "sidebar";
    width: 100px;
  }
}

/* ------------------------------------------- */
.fotter {
  display: none;
  grid-area: fotter;
  background-color: #333;
  color: #555;
}

@media (min-width: 767.98px) {
  .fotter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/* ------------------------------------------- */
.navbar {
  width: 100%;
  height: 100%;
  background-color: #333;
}

.navbar {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: navbar;
}

@media (min-width: 767.98px){
  .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .main {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .fotter {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

/* ------------------------------------------- */
.btn {
  display: inline-block;
  border-radius: 5px;
  padding: 10px;
  padding: 5px 15px;
  border: 2px solid #fff;
  background-color: #333;
  font-size: 20px;
  color: #fff;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.btn_w {
  color: #333;
  background-color: #fff;
}
.btn_w:hover {
  background-color: #333;
  color: #fff;
}
.btn_w:focus {
  border-color: #ffffff;
  color: #ffffff;
}
.btn_w:active {
  -webkit-box-shadow: 0 0 0 0.2rem #ffffff;
          box-shadow: 0 0 0 0.2rem #ffffff;
}
.btn_w:hover {
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border-color: #333;
  background-color: #fff;
  color: #333;
}
.btn_icon {
  border: none;
  padding: 5;
  margin: 0;
}
.btn_icon:focus path {
  fill: #adadad;
}
.btn_icon:active path {
  fill: #adadad;
}
.btn_icon:hover path {
  fill: #adadad;
}

.custom_checkbox {
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}
.custom_checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom_checkbox > span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom_checkbox > span::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid black;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom_checkbox > input:checked + span::before {
  background-color: black;
  border-color: black;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.custom_checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  background-color: #000;
  border-color: black;
}
.custom_checkbox > input:not(:disabled) + span:active::before {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.custom_checkbox > input + span:hover::before {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(156, 156, 156, 0.25);
          box-shadow: 0 0 0 0.2rem rgba(156, 156, 156, 0.25);
}
.custom_checkbox > input:focus:not(:checked) + span::before {
  border-color: #5c5c5c;
}
.custom_checkbox > input:disabled + span::before {
  background-color: #e7e7e7;
}

.msg-box {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  border-bottom: 1px solid #000;
  padding: 20px 0;
}
.msg-box::-webkit-input-placeholder {
  color: #000;
}
.msg-box:-moz-placeholder {
  color: #000;
}