//<МИКСИНЫ>==========================================================================
@mixin anim($time,$delay) {-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin cnt($h) {display: flex;flex-direction: column; height: $h; text-align: center; align-items: stretch; justify-content: center;}
@mixin tr($x,$y,$z) {transform: translate3d($x,$y,$z);}
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexboxinline() {display:-moz-inline-flex; display:-ms-inline-flex;  display:-o-inline-flex; display:-inline-flex;display: -webkit-inline-flex;}
@mixin flexorder($val) {-webkit-box-ordinal-group: $val; -moz-box-ordinal-group: $val; -ms-flex-order: $val; -webkit-order: $val; order: $val;}
//</МИКСИНЫ>==========================================================================

//<ЦВЕТА>==========================================================================
@import '../../styles/colorStyle.scss';
//</ЦВЕТА>==========================================================================

//<ШРИФТЫ>==========================================================================

@import url("../../../fonts/Gilroy/stylesheet.css");

//<Подключаемые шрифты>==========================================================================

//</Подключаемые шрифты>==========================================================================


//<Шрифт по умолчанию>==========================================================================
$fontfamily:"Gilroy";
$fontcolor:#fff;
//</Шрифт по умолчанию>==========================================================================

//</ШРИФТЫ>==========================================================================


//<ПЕРЕМЕННЫЕ>==========================================================================
$minwidth:320px;
$mw:1420;
$md1:$mw+12;
$md2:992.98;
$md3:767.98;
$md4:479.98;
//</ПЕРЕМЕННЫЕ>==========================================================================

//<ОБНУЛЕНИЕ СТИЛЕЙ>==========================================================================
@import '../../styles/nullableStyle.scss';
//</ОБНУЛЕНИЕ СТИЛЕЙ>==========================================================================

//<СТИЛИ ДОКУМЕНТА>==========================================================================


body,html{margin: 0;padding: 0;font-family: $fontfamily;font-size: 16; color: $fontcolor;background-color: #333; height: 100%}

//</СТИЛИ ДОКУМЕНТА>==========================================================================

//<ПОДКЛЮЧАЕМЫЕ СТИЛИ>===========================================================================
@import '../../styles/swiperStyle.scss';
//</ПОДКЛЮЧАЕМЫЕ СТИЛИ>==========================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>==========================================================================

.wrapper {
    // min-height: 100vh;

    height:calc(var(--vh, 1vh) * 100);
    width: 100%;

    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // overflow: hidden;
}

/* ------------------------------------------- */

.container {
    display: flex;
    flex: 1 1 auto;
    min-width: 0;
    min-height: 0;

    width: 100%;


    display: grid;
    grid-template: minmax(auto, 50px) minmax(300px, 100%) 50px/ minmax(320px, 100%) ;
    grid-template-areas: "header" "main" "navbar";

    @media (min-width: #{$md3}px) {
        grid-template: minmax(auto, 50px) minmax(600px, 100%) minmax(auto, 20px)/ minmax(768px, 100%) ;
        grid-template-areas: "header" "main" "fotter";
    }
}



/* ------------------------------------------- */

.header {
    grid-area: header;
    background-color: #333;
    display: grid;
    grid-template: 50px /  minmax(auto, 50px) 1fr minmax(auto,50px);


        &__settings {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }
		// .header__logo

		&__logo {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 10px;
            
            & a{
                font-size: 32px;
                line-height: 5px;
                color: #fff;
                height: 100%;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                }
            }
            
		}

        // .header__status

        &__status {
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-size: 20px;

        }

        // .header__login

        &__login {
            display: none;
            pointer-events: none;
            
        }
        @media screen and (min-width: #{$md3}px) {
            grid-template: 50px /  minmax(auto, 200px) 1fr minmax(auto, 300px);
    
            &__settings {
                display: none;
                pointer-events: none;
            }
    
            &__logo {
                display: flex;
                align-items: center;
                padding: 10px;
                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: scale-down;
                } 
            } 
            &__status {
        
            }
            &__login {
                pointer-events: all;
                display: flex;
                align-items: center;
                justify-content: end;
                padding-right: 5px;
            }
            
        }
        
        @media screen and (min-width: #{$md2}px) {
            &__settings {
                
            }
    
            &__logo {
                justify-content: center;
                
                & a{
    
                    & picture{
    
                        & img{
    
                        }
                    }
                    
                }
                
            }

            &__status {
    
            }
            &__login {
                justify-content: center;
            }
            
        }
}
.settings {

    // .settings__btn

    &__btn {
    }
}
.login {
    
    &__btn{
        
    }
}
.btn {

    // .btn_icon

    &_icon {
    }
}



/* ------------------------------------------- */

.main {
    grid-area: main;
    display: grid;
    grid-template: 100% / minmax(auto, auto) 5px 1fr 5px;

    @import '../../moduls/sidebar.scss';
    
    .sidebar {
        grid-area: 'sidebar';
        width: 0px;
    
        &-swiper{
    
            & .swiper-slide{
    
                & a{
                    
                }
            }
        }   
    }
    
    @import '../../moduls/resizebar.scss';
    
    .resizebar{
        user-select: none;
    }
    
    .content {
        user-select: none;
        background-color: #555;
        border-radius: 5px;
        grid-area: 'content';
        max-height: 100%;
        overflow: hidden;
        
        &__timetable-swiper{
            padding: 20px;
        }
    }
    
    @import '../../routes/timetable/timetable.scss';
    
    .timetable-swiper{
    
        // .timetable__item
    
        & .swiper-slide {
    
    
            &__title {
    
            }
    
            &__text {
    
            }
        }     
    }

    @media screen and (min-width: #{$md3}px) {
        .sidebar {
            grid-area: 'sidebar';
            width: 100px;
        
            &-swiper{
        
                & .swiper-slide{
        
                    & a{
                        
                    }
                }
            }   
        }
    }
}





/* ------------------------------------------- */


.fotter {
    display: none;
    grid-area: fotter;
    background-color: #333;
    color: #555;

    @media (min-width: #{$md3}px) {        
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        &__copy {
            // color: red;
        }
        &__text {
        }
    }
}



/* ------------------------------------------- */
@import '../../moduls/navbar.scss';

.navbar{
    grid-area: navbar;

    &__list{
        height: 100%;
        

    }
    @media (min-width: #{$md3}px) {
        display: none;
        position: absolute;
        pointer-events: none;
    }
}

/* ------------------------------------------- */

@import '../../moduls/forms.scss';

